.page-container {
  min-height: 100vh;
  display: flex;
  gap: 10px;
  width: 2000px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #2980b9, #6dd5fa);
}

.form-container {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 450px;
}

input, button {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  font-size: 1rem;
}
